
    /* Subtitulos H5 */

.subtitle-footer{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #666;
}

.subtitle-copyright{
    padding-top: 10px;
    text-align: start;
    color: gray;
}

.description-footer{
    color: #666;

}

/* Iconos */

.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
}
.fa-gift{
    color: #1259c3;
    font-size: 2em;
}
.fa-user-shield{
    color: #1259c3;
    font-size: 2em;
}

    /* Divs del footer  */
@media (min-width: 1024px){
.desc-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contenido-footer-1{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.contenido-footer-2{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.contenido-footer-3{
    width: 30%;
    display: flex;
    flex-direction: column;
}
}